USE [master]
GO
IF DB_ID('SistemaAireAcondicionado') IS NOT NULL
DROP DATABASE SistemaAireAcondicionado;
GO
/****** Object:  Database [SistemaAireAcondicionado]    Script Date: 4/4/2026 5:46:38 PM ******/
CREATE DATABASE [SistemaAireAcondicionado]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaAireAcondicionado].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaAireAcondicionado]
GO
/****** Object:  Schema [aire]    Script Date: 4/4/2026 5:46:38 PM ******/
CREATE SCHEMA [aire]
GO
/****** Object:  Table [aire].[Facturas]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aire].[Facturas](
	[IdFactura] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdEstadoFactura] [int] NOT NULL,
	[Fecha_Factura] [datetime] NOT NULL,
	[Total_Factura] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Facturas] PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [aire].[EstadosFactura]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aire].[EstadosFactura](
	[IdEstadoFactura] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EstadosFactura] PRIMARY KEY CLUSTERED 
(
	[IdEstadoFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [aire].[Clientes]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aire].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[IdProvincia] [int] NULL,
	[Cedula] [varchar](11) NOT NULL,
	[Nombres] [varchar](100) NOT NULL,
	[Apellidos] [varchar](100) NOT NULL,
	[Telefono] [varchar](15) NULL,
	[Correo] [varchar](150) NULL,
	[Sector] [varchar](100) NULL,
	[Ciudad] [varchar](100) NULL,
	[Calle] [varchar](150) NULL,
	[FechaRegistro] [datetime] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [aire].[vw_Facturas]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [aire].[vw_Facturas] AS
SELECT 
    f.IdFactura,
    f.Fecha_Factura AS FechaFactura,
    f.Total_Factura AS TotalFactura,
    ef.Nombre AS EstadoFactura,
    c.IdCliente,
    ISNULL(c.Nombres, '') + ' ' + ISNULL(c.Apellidos, '') AS Cliente,
    c.Cedula
FROM aire.Facturas f
INNER JOIN aire.Clientes c ON f.IdCliente = c.IdCliente
INNER JOIN aire.EstadosFactura ef ON f.IdEstadoFactura = ef.IdEstadoFactura;
GO
/****** Object:  Table [aire].[Marcas]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aire].[Marcas](
	[IdMarca] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Marcas] PRIMARY KEY CLUSTERED 
(
	[IdMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [aire].[Modelos]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aire].[Modelos](
	[IdModelo] [int] IDENTITY(1,1) NOT NULL,
	[IdMarca] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Modelos] PRIMARY KEY CLUSTERED 
(
	[IdModelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [aire].[EstadosServicio]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aire].[EstadosServicio](
	[IdEstadoServicio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EstadosServicio] PRIMARY KEY CLUSTERED 
(
	[IdEstadoServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [aire].[Vehiculos]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aire].[Vehiculos](
	[IdVehiculo] [int] IDENTITY(1,1) NOT NULL,
	[IdMarca] [int] NOT NULL,
	[IdModelo] [int] NOT NULL,
	[Anio] [int] NOT NULL,
 CONSTRAINT [PK_Vehiculos] PRIMARY KEY CLUSTERED 
(
	[IdVehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [aire].[Servicios]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aire].[Servicios](
	[IdServicio] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdVehiculo] [int] NOT NULL,
	[IdEstadoServicio] [int] NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
	[Diagnostico] [varchar](500) NULL,
	[Total_Servicio] [decimal](10, 2) NULL,
	[Placa] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Servicios] PRIMARY KEY CLUSTERED 
(
	[IdServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [aire].[vw_Servicios]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- VIEW 2: Servicios con cliente, vehículo y estado
-- ============================================================
CREATE VIEW [aire].[vw_Servicios] AS
SELECT
    s.IdServicio,
    s.FechaIngreso,
    s.Diagnostico,
    s.Total_Servicio AS TotalServicio,
    es.Nombre AS EstadoServicio,
    c.IdCliente,
    ISNULL(c.Nombres, '') + ' ' + ISNULL(c.Apellidos, '') AS Cliente,
    c.Cedula,
    v.IdVehiculo,
    v.Placa,
    v.Anio,
    m.Nombre AS Marca,
    mo.Nombre AS Modelo
FROM aire.Servicios s
INNER JOIN aire.Clientes c ON s.IdCliente = c.IdCliente
INNER JOIN aire.EstadosServicio es ON s.IdEstadoServicio = es.IdEstadoServicio
INNER JOIN aire.Vehiculos v ON s.IdVehiculo = v.IdVehiculo
INNER JOIN aire.Marcas m ON v.IdMarca = m.IdMarca
INNER JOIN aire.Modelos mo ON v.IdModelo = mo.IdModelo;
GO
/****** Object:  Table [aire].[Categorias]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aire].[Categorias](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [aire].[Productos]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aire].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Imagen] [varchar](255) NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [aire].[vw_Productos]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- VIEW 3: Productos con categoría y estado
-- ============================================================
CREATE VIEW [aire].[vw_Productos] AS
SELECT
    p.IdProducto,
    p.Nombre,
    p.Precio,
    p.Stock,
    p.Estado,
    c.IdCategoria,
    c.Nombre AS Categoria,
    CASE 
        WHEN p.Stock <= 0 THEN 'Agotado'
        ELSE 'Disponible'
    END AS EstadoStock
FROM aire.Productos p
INNER JOIN aire.Categorias c ON p.IdCategoria = c.IdCategoria;
GO
/****** Object:  Table [aire].[DetalleServicios]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aire].[DetalleServicios](
	[IdDetalleServicio] [int] IDENTITY(1,1) NOT NULL,
	[IdServicio] [int] NOT NULL,
	[IdTipoServicio] [int] NOT NULL,
	[Precio_Servicio] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_DetalleServicios] PRIMARY KEY CLUSTERED 
(
	[IdDetalleServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [aire].[DetalleVentas]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aire].[DetalleVentas](
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_DetalleVentas] PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [aire].[FacturaDetalle]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aire].[FacturaDetalle](
	[IdFacturaDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura] [int] NOT NULL,
	[IdVenta] [int] NULL,
	[IdServicio] [int] NULL,
	[DescripcionDetalle] [varchar](300) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_FacturaDetalle] PRIMARY KEY CLUSTERED 
(
	[IdFacturaDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [aire].[Logs]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aire].[Logs](
	[IdLog] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[TipoLog] [varchar](20) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[FechaLog] [datetime] NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [aire].[MovimientosInventario]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aire].[MovimientosInventario](
	[IdMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[TipoMovimiento] [varchar](20) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Fecha_Movimiento] [datetime] NOT NULL,
 CONSTRAINT [PK_MovimientosInventario] PRIMARY KEY CLUSTERED 
(
	[IdMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [aire].[Pagos]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aire].[Pagos](
	[IdPago] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[MetodoPago] [varchar](20) NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[Fecha_Pago] [datetime] NOT NULL,
 CONSTRAINT [PK_Pagos] PRIMARY KEY CLUSTERED 
(
	[IdPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [aire].[Provincias]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aire].[Provincias](
	[IdProvincia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Provincias] PRIMARY KEY CLUSTERED 
(
	[IdProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [aire].[TiposServicio]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aire].[TiposServicio](
	[IdTipoServicio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Descripcion] [varchar](300) NULL,
 CONSTRAINT [PK_TiposServicio] PRIMARY KEY CLUSTERED 
(
	[IdTipoServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [aire].[Usuarios]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aire].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Rol] [varchar](20) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [aire].[Ventas]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [aire].[Ventas](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Fecha_Venta] [datetime] NOT NULL,
	[Total_Venta] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [aire].[Categorias] ON 

INSERT [aire].[Categorias] ([IdCategoria], [Nombre]) VALUES (1, N'Compresores')
INSERT [aire].[Categorias] ([IdCategoria], [Nombre]) VALUES (2, N'Condensadores')
INSERT [aire].[Categorias] ([IdCategoria], [Nombre]) VALUES (3, N'Evaporadores')
SET IDENTITY_INSERT [aire].[Categorias] OFF
GO
SET IDENTITY_INSERT [aire].[Clientes] ON 

INSERT [aire].[Clientes] ([IdCliente], [IdProvincia], [Cedula], [Nombres], [Apellidos], [Telefono], [Correo], [Sector], [Ciudad], [Calle], [FechaRegistro]) VALUES (1, 32, N'40212345678', N'Juan', N'Pérez', N'8091234567', NULL, NULL, NULL, NULL, CAST(N'2026-04-01T00:24:27.073' AS DateTime))
SET IDENTITY_INSERT [aire].[Clientes] OFF
GO
SET IDENTITY_INSERT [aire].[DetalleVentas] ON 

INSERT [aire].[DetalleVentas] ([IdDetalleVenta], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (1, 1, 1, 2, CAST(15000.00 AS Decimal(10, 2)), CAST(30000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [aire].[DetalleVentas] OFF
GO
SET IDENTITY_INSERT [aire].[EstadosFactura] ON 

INSERT [aire].[EstadosFactura] ([IdEstadoFactura], [Nombre]) VALUES (1, N'Pendiente')
INSERT [aire].[EstadosFactura] ([IdEstadoFactura], [Nombre]) VALUES (2, N'Pagada')
INSERT [aire].[EstadosFactura] ([IdEstadoFactura], [Nombre]) VALUES (3, N'Anulada')
SET IDENTITY_INSERT [aire].[EstadosFactura] OFF
GO
SET IDENTITY_INSERT [aire].[EstadosServicio] ON 

INSERT [aire].[EstadosServicio] ([IdEstadoServicio], [Nombre]) VALUES (1, N'Pendiente')
INSERT [aire].[EstadosServicio] ([IdEstadoServicio], [Nombre]) VALUES (2, N'En proceso')
INSERT [aire].[EstadosServicio] ([IdEstadoServicio], [Nombre]) VALUES (3, N'Finalizado')
SET IDENTITY_INSERT [aire].[EstadosServicio] OFF
GO
SET IDENTITY_INSERT [aire].[FacturaDetalle] ON 

INSERT [aire].[FacturaDetalle] ([IdFacturaDetalle], [IdFactura], [IdVenta], [IdServicio], [DescripcionDetalle], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (1, 1, 1, NULL, N'Compresor Toyota', 2, CAST(15000.00 AS Decimal(10, 2)), CAST(30000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [aire].[FacturaDetalle] OFF
GO
SET IDENTITY_INSERT [aire].[Facturas] ON 

INSERT [aire].[Facturas] ([IdFactura], [IdCliente], [IdEstadoFactura], [Fecha_Factura], [Total_Factura]) VALUES (1, 1, 2, CAST(N'2026-04-02T02:29:40.467' AS DateTime), CAST(30000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [aire].[Facturas] OFF
GO
SET IDENTITY_INSERT [aire].[Marcas] ON 

INSERT [aire].[Marcas] ([IdMarca], [Nombre]) VALUES (1, N'Toyota')
INSERT [aire].[Marcas] ([IdMarca], [Nombre]) VALUES (2, N'Hyundai')
INSERT [aire].[Marcas] ([IdMarca], [Nombre]) VALUES (3, N'Honda')
SET IDENTITY_INSERT [aire].[Marcas] OFF
GO
SET IDENTITY_INSERT [aire].[Modelos] ON 

INSERT [aire].[Modelos] ([IdModelo], [IdMarca], [Nombre]) VALUES (1, 1, N'Corolla')
INSERT [aire].[Modelos] ([IdModelo], [IdMarca], [Nombre]) VALUES (2, 1, N'Camry')
INSERT [aire].[Modelos] ([IdModelo], [IdMarca], [Nombre]) VALUES (3, 1, N'RAV4')
SET IDENTITY_INSERT [aire].[Modelos] OFF
GO
SET IDENTITY_INSERT [aire].[MovimientosInventario] ON 

INSERT [aire].[MovimientosInventario] ([IdMovimiento], [IdProducto], [TipoMovimiento], [Cantidad], [Fecha_Movimiento]) VALUES (1, 1, N'Salida', 2, CAST(N'2026-04-02T02:29:40.463' AS DateTime))
SET IDENTITY_INSERT [aire].[MovimientosInventario] OFF
GO
SET IDENTITY_INSERT [aire].[Pagos] ON 

INSERT [aire].[Pagos] ([IdPago], [IdFactura], [IdUsuario], [MetodoPago], [Monto], [Fecha_Pago]) VALUES (2, 1, 1, N'Efectivo', CAST(30000.00 AS Decimal(10, 2)), CAST(N'2026-04-02T02:29:40.480' AS DateTime))
SET IDENTITY_INSERT [aire].[Pagos] OFF
GO
SET IDENTITY_INSERT [aire].[Productos] ON 

INSERT [aire].[Productos] ([IdProducto], [IdCategoria], [Nombre], [Precio], [Stock], [Estado], [Imagen]) VALUES (1, 1, N'Compresor Toyota', CAST(15000.00 AS Decimal(10, 2)), 8, N'Activo', NULL)
SET IDENTITY_INSERT [aire].[Productos] OFF
GO
SET IDENTITY_INSERT [aire].[Provincias] ON 

INSERT [aire].[Provincias] ([IdProvincia], [Nombre]) VALUES (1, N'Distrito Nacional')
INSERT [aire].[Provincias] ([IdProvincia], [Nombre]) VALUES (2, N'Azua')
INSERT [aire].[Provincias] ([IdProvincia], [Nombre]) VALUES (3, N'Baoruco')
SET IDENTITY_INSERT [aire].[Provincias] OFF
GO
SET IDENTITY_INSERT [aire].[Servicios] ON 

INSERT [aire].[Servicios] ([IdServicio], [IdCliente], [IdUsuario], [IdVehiculo], [IdEstadoServicio], [FechaIngreso], [Diagnostico], [Total_Servicio], [Placa]) VALUES (1, 1, 1, 1, 1, CAST(N'2026-04-04T15:33:32.020' AS DateTime), NULL, NULL, N'A123BC')
SET IDENTITY_INSERT [aire].[Servicios] OFF
GO
SET IDENTITY_INSERT [aire].[TiposServicio] ON 

INSERT [aire].[TiposServicio] ([IdTipoServicio], [Nombre], [Descripcion]) VALUES (1, N'Recarga de gas refrigerante', N'Recarga del gas refrigerante del sistema de aire acondicionado')
INSERT [aire].[TiposServicio] ([IdTipoServicio], [Nombre], [Descripcion]) VALUES (2, N'Detección de fugas', N'Diagnóstico para localizar fugas en el sistema')
INSERT [aire].[TiposServicio] ([IdTipoServicio], [Nombre], [Descripcion]) VALUES (3, N'Reparación de fugas', N'Sellado y reparación de fugas detectadas en el sistema')
SET IDENTITY_INSERT [aire].[TiposServicio] OFF
GO
SET IDENTITY_INSERT [aire].[Usuarios] ON 

INSERT [aire].[Usuarios] ([IdUsuario], [Nombre], [Username], [Password], [Rol], [Estado], [FechaCreacion]) VALUES (1, N'Administrador', N'admin', N'HASH_PENDIENTE', N'Admin', N'Activo', CAST(N'2026-04-01T00:21:10.437' AS DateTime))
SET IDENTITY_INSERT [aire].[Usuarios] OFF
GO
SET IDENTITY_INSERT [aire].[Vehiculos] ON 

INSERT [aire].[Vehiculos] ([IdVehiculo], [IdMarca], [IdModelo], [Anio]) VALUES (1, 1, 1, 2021)
SET IDENTITY_INSERT [aire].[Vehiculos] OFF
GO
SET IDENTITY_INSERT [aire].[Ventas] ON 

INSERT [aire].[Ventas] ([IdVenta], [IdCliente], [IdUsuario], [Fecha_Venta], [Total_Venta]) VALUES (1, 1, 1, CAST(N'2026-04-02T02:29:40.440' AS DateTime), CAST(30000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [aire].[Ventas] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Clientes_Cedula]    Script Date: 4/4/2026 5:46:38 PM ******/
ALTER TABLE [aire].[Clientes] ADD  CONSTRAINT [UQ_Clientes_Cedula] UNIQUE NONCLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleServicios_IdServicio]    Script Date: 4/4/2026 5:46:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_DetalleServicios_IdServicio] ON [aire].[DetalleServicios]
(
	[IdServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleVentas_IdVenta]    Script Date: 4/4/2026 5:46:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_DetalleVentas_IdVenta] ON [aire].[DetalleVentas]
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Facturas_Fecha]    Script Date: 4/4/2026 5:46:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Facturas_Fecha] ON [aire].[Facturas]
(
	[Fecha_Factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Facturas_IdCliente]    Script Date: 4/4/2026 5:46:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Facturas_IdCliente] ON [aire].[Facturas]
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Logs_FechaLog]    Script Date: 4/4/2026 5:46:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Logs_FechaLog] ON [aire].[Logs]
(
	[FechaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Logs_IdUsuario]    Script Date: 4/4/2026 5:46:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Logs_IdUsuario] ON [aire].[Logs]
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pagos_IdFactura]    Script Date: 4/4/2026 5:46:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Pagos_IdFactura] ON [aire].[Pagos]
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Servicios_FechaIngreso]    Script Date: 4/4/2026 5:46:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Servicios_FechaIngreso] ON [aire].[Servicios]
(
	[FechaIngreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Servicios_IdCliente]    Script Date: 4/4/2026 5:46:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Servicios_IdCliente] ON [aire].[Servicios]
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_Username]    Script Date: 4/4/2026 5:46:38 PM ******/
ALTER TABLE [aire].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_Fecha]    Script Date: 4/4/2026 5:46:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_Fecha] ON [aire].[Ventas]
(
	[Fecha_Venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_IdCliente]    Script Date: 4/4/2026 5:46:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_IdCliente] ON [aire].[Ventas]
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [aire].[Clientes] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [aire].[Facturas] ADD  DEFAULT (getdate()) FOR [Fecha_Factura]
GO
ALTER TABLE [aire].[Facturas] ADD  DEFAULT ((0)) FOR [Total_Factura]
GO
ALTER TABLE [aire].[Logs] ADD  DEFAULT (getdate()) FOR [FechaLog]
GO
ALTER TABLE [aire].[MovimientosInventario] ADD  DEFAULT (getdate()) FOR [Fecha_Movimiento]
GO
ALTER TABLE [aire].[Pagos] ADD  DEFAULT (getdate()) FOR [Fecha_Pago]
GO
ALTER TABLE [aire].[Productos] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [aire].[Productos] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [aire].[Servicios] ADD  DEFAULT (getdate()) FOR [FechaIngreso]
GO
ALTER TABLE [aire].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [aire].[Ventas] ADD  DEFAULT (getdate()) FOR [Fecha_Venta]
GO
ALTER TABLE [aire].[Ventas] ADD  DEFAULT ((0)) FOR [Total_Venta]
GO
ALTER TABLE [aire].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Provincias] FOREIGN KEY([IdProvincia])
REFERENCES [aire].[Provincias] ([IdProvincia])
GO
ALTER TABLE [aire].[Clientes] CHECK CONSTRAINT [FK_Clientes_Provincias]
GO
ALTER TABLE [aire].[DetalleServicios]  WITH CHECK ADD  CONSTRAINT [FK_DetalleServicios_Servicios] FOREIGN KEY([IdServicio])
REFERENCES [aire].[Servicios] ([IdServicio])
GO
ALTER TABLE [aire].[DetalleServicios] CHECK CONSTRAINT [FK_DetalleServicios_Servicios]
GO
ALTER TABLE [aire].[DetalleServicios]  WITH CHECK ADD  CONSTRAINT [FK_DetalleServicios_TiposServicio] FOREIGN KEY([IdTipoServicio])
REFERENCES [aire].[TiposServicio] ([IdTipoServicio])
GO
ALTER TABLE [aire].[DetalleServicios] CHECK CONSTRAINT [FK_DetalleServicios_TiposServicio]
GO
ALTER TABLE [aire].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVentas_Productos] FOREIGN KEY([IdProducto])
REFERENCES [aire].[Productos] ([IdProducto])
GO
ALTER TABLE [aire].[DetalleVentas] CHECK CONSTRAINT [FK_DetalleVentas_Productos]
GO
ALTER TABLE [aire].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVentas_Ventas] FOREIGN KEY([IdVenta])
REFERENCES [aire].[Ventas] ([IdVenta])
GO
ALTER TABLE [aire].[DetalleVentas] CHECK CONSTRAINT [FK_DetalleVentas_Ventas]
GO
ALTER TABLE [aire].[FacturaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_FacturaDetalle_Facturas] FOREIGN KEY([IdFactura])
REFERENCES [aire].[Facturas] ([IdFactura])
GO
ALTER TABLE [aire].[FacturaDetalle] CHECK CONSTRAINT [FK_FacturaDetalle_Facturas]
GO
ALTER TABLE [aire].[FacturaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_FacturaDetalle_Servicios] FOREIGN KEY([IdServicio])
REFERENCES [aire].[Servicios] ([IdServicio])
GO
ALTER TABLE [aire].[FacturaDetalle] CHECK CONSTRAINT [FK_FacturaDetalle_Servicios]
GO
ALTER TABLE [aire].[FacturaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_FacturaDetalle_Ventas] FOREIGN KEY([IdVenta])
REFERENCES [aire].[Ventas] ([IdVenta])
GO
ALTER TABLE [aire].[FacturaDetalle] CHECK CONSTRAINT [FK_FacturaDetalle_Ventas]
GO
ALTER TABLE [aire].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Clientes] FOREIGN KEY([IdCliente])
REFERENCES [aire].[Clientes] ([IdCliente])
GO
ALTER TABLE [aire].[Facturas] CHECK CONSTRAINT [FK_Facturas_Clientes]
GO
ALTER TABLE [aire].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_EstadosFactura] FOREIGN KEY([IdEstadoFactura])
REFERENCES [aire].[EstadosFactura] ([IdEstadoFactura])
GO
ALTER TABLE [aire].[Facturas] CHECK CONSTRAINT [FK_Facturas_EstadosFactura]
GO
ALTER TABLE [aire].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [aire].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [aire].[Logs] CHECK CONSTRAINT [FK_Logs_Usuarios]
GO
ALTER TABLE [aire].[Modelos]  WITH CHECK ADD  CONSTRAINT [FK_Modelos_Marcas] FOREIGN KEY([IdMarca])
REFERENCES [aire].[Marcas] ([IdMarca])
GO
ALTER TABLE [aire].[Modelos] CHECK CONSTRAINT [FK_Modelos_Marcas]
GO
ALTER TABLE [aire].[MovimientosInventario]  WITH CHECK ADD  CONSTRAINT [FK_MovimientosInventario_Productos] FOREIGN KEY([IdProducto])
REFERENCES [aire].[Productos] ([IdProducto])
GO
ALTER TABLE [aire].[MovimientosInventario] CHECK CONSTRAINT [FK_MovimientosInventario_Productos]
GO
ALTER TABLE [aire].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Facturas] FOREIGN KEY([IdFactura])
REFERENCES [aire].[Facturas] ([IdFactura])
GO
ALTER TABLE [aire].[Pagos] CHECK CONSTRAINT [FK_Pagos_Facturas]
GO
ALTER TABLE [aire].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [aire].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [aire].[Pagos] CHECK CONSTRAINT [FK_Pagos_Usuarios]
GO
ALTER TABLE [aire].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorias] FOREIGN KEY([IdCategoria])
REFERENCES [aire].[Categorias] ([IdCategoria])
GO
ALTER TABLE [aire].[Productos] CHECK CONSTRAINT [FK_Productos_Categorias]
GO
ALTER TABLE [aire].[Servicios]  WITH CHECK ADD  CONSTRAINT [FK_Servicios_Clientes] FOREIGN KEY([IdCliente])
REFERENCES [aire].[Clientes] ([IdCliente])
GO
ALTER TABLE [aire].[Servicios] CHECK CONSTRAINT [FK_Servicios_Clientes]
GO
ALTER TABLE [aire].[Servicios]  WITH CHECK ADD  CONSTRAINT [FK_Servicios_EstadosServicio] FOREIGN KEY([IdEstadoServicio])
REFERENCES [aire].[EstadosServicio] ([IdEstadoServicio])
GO
ALTER TABLE [aire].[Servicios] CHECK CONSTRAINT [FK_Servicios_EstadosServicio]
GO
ALTER TABLE [aire].[Servicios]  WITH CHECK ADD  CONSTRAINT [FK_Servicios_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [aire].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [aire].[Servicios] CHECK CONSTRAINT [FK_Servicios_Usuarios]
GO
ALTER TABLE [aire].[Servicios]  WITH CHECK ADD  CONSTRAINT [FK_Servicios_Vehiculos] FOREIGN KEY([IdVehiculo])
REFERENCES [aire].[Vehiculos] ([IdVehiculo])
GO
ALTER TABLE [aire].[Servicios] CHECK CONSTRAINT [FK_Servicios_Vehiculos]
GO
ALTER TABLE [aire].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Marcas] FOREIGN KEY([IdMarca])
REFERENCES [aire].[Marcas] ([IdMarca])
GO
ALTER TABLE [aire].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Marcas]
GO
ALTER TABLE [aire].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Modelos] FOREIGN KEY([IdModelo])
REFERENCES [aire].[Modelos] ([IdModelo])
GO
ALTER TABLE [aire].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Modelos]
GO
ALTER TABLE [aire].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Clientes] FOREIGN KEY([IdCliente])
REFERENCES [aire].[Clientes] ([IdCliente])
GO
ALTER TABLE [aire].[Ventas] CHECK CONSTRAINT [FK_Ventas_Clientes]
GO
ALTER TABLE [aire].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [aire].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [aire].[Ventas] CHECK CONSTRAINT [FK_Ventas_Usuarios]
GO
ALTER TABLE [aire].[DetalleServicios]  WITH CHECK ADD  CONSTRAINT [CK_DetalleServicios_Precio] CHECK  (([Precio_Servicio]>=(0)))
GO
ALTER TABLE [aire].[DetalleServicios] CHECK CONSTRAINT [CK_DetalleServicios_Precio]
GO
ALTER TABLE [aire].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [CK_DetalleVentas_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [aire].[DetalleVentas] CHECK CONSTRAINT [CK_DetalleVentas_Cantidad]
GO
ALTER TABLE [aire].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [CK_DetalleVentas_Precio] CHECK  (([PrecioUnitario]>=(0)))
GO
ALTER TABLE [aire].[DetalleVentas] CHECK CONSTRAINT [CK_DetalleVentas_Precio]
GO
ALTER TABLE [aire].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [CK_DetalleVentas_Subtotal] CHECK  (([Subtotal]>=(0)))
GO
ALTER TABLE [aire].[DetalleVentas] CHECK CONSTRAINT [CK_DetalleVentas_Subtotal]
GO
ALTER TABLE [aire].[FacturaDetalle]  WITH CHECK ADD  CONSTRAINT [CK_FacturaDetalle_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [aire].[FacturaDetalle] CHECK CONSTRAINT [CK_FacturaDetalle_Cantidad]
GO
ALTER TABLE [aire].[FacturaDetalle]  WITH CHECK ADD  CONSTRAINT [CK_FacturaDetalle_Precio] CHECK  (([PrecioUnitario]>=(0)))
GO
ALTER TABLE [aire].[FacturaDetalle] CHECK CONSTRAINT [CK_FacturaDetalle_Precio]
GO
ALTER TABLE [aire].[FacturaDetalle]  WITH CHECK ADD  CONSTRAINT [CK_FacturaDetalle_Subtotal] CHECK  (([Subtotal]>=(0)))
GO
ALTER TABLE [aire].[FacturaDetalle] CHECK CONSTRAINT [CK_FacturaDetalle_Subtotal]
GO
ALTER TABLE [aire].[FacturaDetalle]  WITH CHECK ADD  CONSTRAINT [CK_FacturaDetalle_Tipo] CHECK  (([IdVenta] IS NOT NULL AND [IdServicio] IS NULL OR [IdVenta] IS NULL AND [IdServicio] IS NOT NULL))
GO
ALTER TABLE [aire].[FacturaDetalle] CHECK CONSTRAINT [CK_FacturaDetalle_Tipo]
GO
ALTER TABLE [aire].[Facturas]  WITH CHECK ADD  CONSTRAINT [CK_Facturas_Total] CHECK  (([Total_Factura]>=(0)))
GO
ALTER TABLE [aire].[Facturas] CHECK CONSTRAINT [CK_Facturas_Total]
GO
ALTER TABLE [aire].[Logs]  WITH CHECK ADD  CONSTRAINT [CK_Logs_TipoLog] CHECK  (([TipoLog]='Eliminacion' OR [TipoLog]='Actualizacion' OR [TipoLog]='Acceso' OR [TipoLog]='Transaccion' OR [TipoLog]='Error'))
GO
ALTER TABLE [aire].[Logs] CHECK CONSTRAINT [CK_Logs_TipoLog]
GO
ALTER TABLE [aire].[MovimientosInventario]  WITH CHECK ADD  CONSTRAINT [CK_MovimientosInventario_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [aire].[MovimientosInventario] CHECK CONSTRAINT [CK_MovimientosInventario_Cantidad]
GO
ALTER TABLE [aire].[MovimientosInventario]  WITH CHECK ADD  CONSTRAINT [CK_MovimientosInventario_Tipo] CHECK  (([TipoMovimiento]='Ajuste' OR [TipoMovimiento]='Salida' OR [TipoMovimiento]='Entrada'))
GO
ALTER TABLE [aire].[MovimientosInventario] CHECK CONSTRAINT [CK_MovimientosInventario_Tipo]
GO
ALTER TABLE [aire].[Pagos]  WITH CHECK ADD  CONSTRAINT [CK_Pagos_MetodoPago] CHECK  (([MetodoPago]='Transferencia' OR [MetodoPago]='Tarjeta' OR [MetodoPago]='Efectivo'))
GO
ALTER TABLE [aire].[Pagos] CHECK CONSTRAINT [CK_Pagos_MetodoPago]
GO
ALTER TABLE [aire].[Pagos]  WITH CHECK ADD  CONSTRAINT [CK_Pagos_Monto] CHECK  (([Monto]>(0)))
GO
ALTER TABLE [aire].[Pagos] CHECK CONSTRAINT [CK_Pagos_Monto]
GO
ALTER TABLE [aire].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_Productos_Estado] CHECK  (([Estado]='Inactivo' OR [Estado]='Activo'))
GO
ALTER TABLE [aire].[Productos] CHECK CONSTRAINT [CK_Productos_Estado]
GO
ALTER TABLE [aire].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_Productos_Precio] CHECK  (([Precio]>=(0)))
GO
ALTER TABLE [aire].[Productos] CHECK CONSTRAINT [CK_Productos_Precio]
GO
ALTER TABLE [aire].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_Productos_Stock] CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [aire].[Productos] CHECK CONSTRAINT [CK_Productos_Stock]
GO
ALTER TABLE [aire].[Servicios]  WITH CHECK ADD CHECK  ((len([Placa])>=(6)))
GO
ALTER TABLE [aire].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_Estado] CHECK  (([Estado]='Inactivo' OR [Estado]='Activo'))
GO
ALTER TABLE [aire].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_Estado]
GO
ALTER TABLE [aire].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_Rol] CHECK  (([Rol]='Empleado' OR [Rol]='Admin'))
GO
ALTER TABLE [aire].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_Rol]
GO
ALTER TABLE [aire].[Ventas]  WITH CHECK ADD  CONSTRAINT [CK_Ventas_Total] CHECK  (([Total_Venta]>=(0)))
GO
ALTER TABLE [aire].[Ventas] CHECK CONSTRAINT [CK_Ventas_Total]
GO
/****** Object:  StoredProcedure [aire].[SP_RegistrarVenta]    Script Date: 4/4/2026 5:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [aire].[SP_RegistrarVenta]
    @IdCliente      INT,
    @IdUsuario      INT,
    @Productos      NVARCHAR(MAX),
    @MetodoPago     VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- JSON vacío
        IF @Productos IS NULL OR LEN(@Productos) = 0
        BEGIN
            RAISERROR('Debe enviar productos', 16, 1);
            RETURN;
        END;

        -- Método de pago válido
        IF @MetodoPago NOT IN ('Efectivo', 'Tarjeta', 'Transferencia')
        BEGIN
            RAISERROR('Método de pago inválido', 16, 1);
            RETURN;
        END;

        -- Productos existentes
        IF EXISTS (
            SELECT 1
            FROM OPENJSON(@Productos)
            WITH (IdProducto INT '$.IdProducto') j
            LEFT JOIN aire.Productos p ON j.IdProducto = p.IdProducto
            WHERE p.IdProducto IS NULL
        )
        BEGIN
            RAISERROR('Uno o más productos no existen', 16, 1);
            RETURN;
        END;

        DECLARE @IdVenta        INT;
        DECLARE @IdFactura      INT;
        DECLARE @TotalVenta     DECIMAL(10,2);

        INSERT INTO aire.Ventas (IdCliente, IdUsuario)
        VALUES (@IdCliente, @IdUsuario);

        SET @IdVenta = SCOPE_IDENTITY();

        INSERT INTO aire.DetalleVentas 
            (IdVenta, IdProducto, Cantidad, PrecioUnitario, Subtotal)
        SELECT
            @IdVenta,
            j.IdProducto,
            j.Cantidad,
            j.PrecioUnitario,
            j.Cantidad * j.PrecioUnitario
        FROM OPENJSON(@Productos)
        WITH (
            IdProducto      INT             '$.IdProducto',
            Cantidad        INT             '$.Cantidad',
            PrecioUnitario  DECIMAL(10,2)   '$.PrecioUnitario'
        ) j;

        SELECT @TotalVenta = SUM(Subtotal)
        FROM aire.DetalleVentas
        WHERE IdVenta = @IdVenta;

        UPDATE aire.Ventas
        SET Total_Venta = @TotalVenta
        WHERE IdVenta = @IdVenta;

        INSERT INTO aire.Facturas (IdCliente, IdEstadoFactura, Total_Factura)
        VALUES (@IdCliente, 1, @TotalVenta);

        SET @IdFactura = SCOPE_IDENTITY();

        INSERT INTO aire.FacturaDetalle 
            (IdFactura, IdVenta, DescripcionDetalle, Cantidad, PrecioUnitario, Subtotal)
        SELECT
            @IdFactura,
            @IdVenta,
            p.Nombre,
            dv.Cantidad,
            dv.PrecioUnitario,
            dv.Subtotal
        FROM aire.DetalleVentas dv
        INNER JOIN aire.Productos p ON dv.IdProducto = p.IdProducto
        WHERE dv.IdVenta = @IdVenta;

        INSERT INTO aire.Pagos 
            (IdFactura, IdUsuario, MetodoPago, Monto)
        VALUES 
            (@IdFactura, @IdUsuario, @MetodoPago, @TotalVenta);

        UPDATE aire.Facturas
        SET IdEstadoFactura = 2
        WHERE IdFactura = @IdFactura;

        COMMIT TRANSACTION;

        SELECT 
            @IdVenta AS IdVenta, 
            @IdFactura AS IdFactura, 
            @TotalVenta AS Total;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END;
GO
USE [master]
GO
